[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/abetar0/ezhil
[submodule "themes/theer"]
	path = themes/theer
	url = https://github.com/qqhann/theer.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com:abetar0/archie.git
